[submodule "src/chonkur_l_raile"]
	path = src/external/chonkur_l_raile
	url = https://github.com/msavchen-nasa/chonkur_l_raile.git
	branch = jazzy-feature/vla-nasa-integration
[submodule "src/dextivr_hande"]
	path = src/external/dextivr_hande
	url = https://github.com/NASA-JSC-Robotics/dextivr_hande.git
	branch = humble-devel
[submodule "src/ewellix_lift_kit"]
	path = src/external/ewellix_lift_kit
	url = https://github.com/NASA-JSC-Robotics/ewellix_lift_kit.git
	branch = humble-devel
[submodule "src/ros2_robotiq_gripper"]
	path = src/external/ros2_robotiq_gripper
	url = https://github.com/NASA-JSC-Robotics/ros2_robotiq_gripper.git
	branch = humble-devel
[submodule "src/serial"]
	path = src/external/serial
	url = https://github.com/tylerjw/serial.git
	branch = ros2
[submodule "src/trac_ik"]
	path = src/external/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
	branch = 2.0.1
[submodule "src/vention_rail"]
	path = src/external/vention_rail
	url = https://github.com/NASA-JSC-Robotics/vention_rail.git
	branch = humble-devel
[submodule "src/external/surface_robotics_mockups_description"]
	path = src/external/surface_robotics_mockups_description
	url = https://github.com/NASA-JSC-Robotics/surface_robotics_mockups_description.git
	branch = humble-devel
[submodule "src/external/color_tools"]
	path = src/external/color_tools
	url = https://github.com/NASA-JSC-Robotics/color_tools.git
	branch = humble-devel
[submodule "src/external/drt_ur_gui"]
	path = src/external/drt_ur_gui
	url = https://github.com/NASA-JSC-Robotics/drt_ur_gui.git
[submodule "src/external/mujoco_ros2_control"]
	path = src/external/mujoco_ros2_control
	url = https://github.com/ros-controls/mujoco_ros2_control.git
# VLA Related Packages
[submodule "src/vla/Lerobot-Mujoco"]
	path = src/vla/Lerobot-Mujoco
	url = git@github.com:gmarchetti2020/Lerobot-MujoCo.git
	branch = feature/clr-ws-integration
# infrastructure related packages
[submodule "src/vla/agent_interface"]
	path = src/vla/agent_interface
	url = git@js-er-code.jsc.nasa.gov:imetro/imetro-robot-applications/vla/agent_interface.git
	branch = humble-feature/inference-deployment
[submodule "src/vla/mannequin"]
	path = src/vla/mannequin
	url = git@js-er-code.jsc.nasa.gov:imetro/imetro-robot-applications/vla/mannequin.git
[submodule "src/vla/moveit2"]
	path = src/vla/moveit2
	url = git@js-er-code.jsc.nasa.gov:imetro/imetro-robot-applications/vla/moveit2.git
	branch = jazzy-feature/move-servo-drt-rework
[submodule "src/vla/plotjuggler_utils"]
	path = src/vla/plotjuggler_utils
	url = git@js-er-code.jsc.nasa.gov:msavchen/plotjuggler_utils.git
[submodule "src/external/drt_behavior"]
	path = src/external/drt_behavior
	url = https://github.com/NASA-JSC-Robotics/drt_behavior.git
	branch = jazzy-devel
[submodule "external/roboplan-ros"]
	path = src/external/roboplan-ros
	url = https://github.com/open-planning/roboplan-ros.git
[submodule "src/vla/drt_moveit_servo"]
	path = src/vla/drt_moveit_servo
	url = git@js-er-code.jsc.nasa.gov:msavchen/drt_moveit_servo.git
